/* Box sizing rules */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 500;
  background: black;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Element-specific Styling */

header {
    display: flex;
    justify-content: space-between;
    background: black;
    color: white;
    padding: 1rem 1.5rem;
}

footer {
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, rgba(10,10,10, 0.9) 10%, black);
    color: white;
    padding: 1.5rem 0 1rem 0;
}

section {
    display: flex;
    gap: 1rem;
    z-index: 2;
}

ul {
    display: flex;
    gap: 1rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

/* Class-specific Styling */

.logo {
    max-height: 50px;
    max-width: 50px;
}

.hero-section {
    width: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0, 1) 40%, rgba(0,0,0, 0.5));
    color: white;
    padding: 1rem 12rem 4rem 12rem;
    justify-content: center;
}

.hero-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.hero-title {
    font-size: 2.2rem;
    font-family: 'Press Start 2P', monospace;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0.5rem;
}

.hero-subtext {
    font-size: 1.5rem;
}

.hero-image {
    width: 100%;
    max-width: 40vw;
    min-width: 400px;
    height: auto;
    border: 6px solid rgba(5,0,5, 0.9);
    border-radius: 9px;
    box-shadow: inset 0 0 5px rgba(238,130,238, 0.7), inset 0 0 10px rgba(255,255,255, 0.3);
}

.img-shadow {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px; 
  margin-left: 1rem;
  border-radius: 3px;
  animation: box-shadow 3s ease infinite;
  box-shadow: inset 0 0 15px 15px black, inset 0 0 2px 3px black;
  background: linear-gradient(to bottom right, rgba(0,0,255, 0.9), rgba(238,130,238, 0.7));
}

@keyframes box-shadow {
    0% {
      box-shadow: inset 0 0 15px 15px black, inset 0 0 2px 3px black;
    }

    10% {

      box-shadow: inset 0 0 15px 15px black, inset 0 0 2px 3px black;
    }

    20% {
      box-shadow: inset 0 0 14px 14px black, inset 0 0 2px 3px black;
    }

    30% {
      box-shadow: inset 0 0 13px 13px black, inset 0 0 2px 3px black;
    }

    40% {
      box-shadow: inset 0 0 12px 12px black, inset 0 0 2px 3px black;
    }

    50% {
      box-shadow: inset 0 0 11px 11px black, inset 0 0 2px 3px black;
    }

    60% {
      box-shadow: inset 0 0 12px 12px black, inset 0 0 2px 3px black;
    }

    70% {
      box-shadow: inset 0 0 13px 13px black, inset 0 0 2px 3px black;
    }

    100% {
      box-shadow: inset 0 0 14px 14px black, inset 0 0 2px 3px black;
    }

    90% {
      box-shadow: inset 0 0 15px 15px black, inset 0 0 2px 3px black;
    }
}

.hero-cta-button {
    color: white;
    background: black;
    border: 1px solid white;
    padding: 1rem 2rem;
    border-radius: 4px;
    box-shadow: inset 0 0 5px white;
    max-width: 10rem;
    margin-top: 1rem;
}


.testimonials-section {
    background: linear-gradient(to bottom, rgba(5,0,5, 0.9), rgba(5,0,5, 0.3));
    color: white;
    border-radius: 9px;
    flex-direction: column;
    text-align: center;
    margin: 14rem 6rem;
    padding: 1rem 0;
    box-shadow: inset 0 0 5px rgba(238,130,238, 0.7);
}

.testimonial-cards-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem 4rem;
    justify-content: center;
    flex-wrap: wrap;
}

.testimonial-card {
    background: rgba(5,0,5, 0.8);
    box-shadow: inset 0 0 5px rgba(238,130,238, 0.7);
    border-radius: 9px;
    padding: 0.5rem;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.testimonial-card.darker {
    background: rgba(5,0,5, 0.95);
}

.testimonial-card > img {
    width: 100%;
    height: auto;
    min-width: 150px;
    min-height: 150px;
    border: 1px solid slateblue;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.quote-section {
    flex-direction: column;
    background: radial-gradient(rgba(10,10,10, 0.95) 60%, rgba(10,10,10, 0.1));
    color: white;
    padding: 6rem;
    gap: 0;
    box-shadow: inset 0 0 5px rgba(238,130,238, 0.7);
}

.quote {
    font-size: 1.4rem;
    font-weight: 400;
    margin-left: 2rem;
    text-transform: uppercase;
}

.quote::before {
    content: open-quote;
    font-size: 24px;
    font-family: "Press Start 2P";
}

.quote::after {
    content: close-quote;
    font-size: 24px;
    font-family: "Press Start 2P";
}

.quote-author {
    text-align: right;
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-right: 10%;
    align-self: right;
}

.cta-section {
    background: rgba(10,10,10, 0.9);
    color: white;
    justify-content: center;
    margin-top: 18rem;
    padding: 2.5rem 5rem;
    border-radius: 6px;
}

.cta-button {
    color: white;
    background: rgba(5,0,5, 0.95);
    border: 1px solid white;
    padding: 1rem 2rem;
    border-radius: 4px;
    box-shadow: inset 0 0 5px white;
    max-width: 10rem;
    max-height: 5rem;
}

.cta-button:focus-within,
.cta-button:hover {
    color: white;
    background: rgba(5,0,5, 0.95);
    border: 1px solid white;
    padding: 1rem 2rem;
    border-radius: 4px;
    box-shadow: inset 0 0 5px white;
    max-width: 10rem;
}

.cta-header {
    font-family: 'Press Start 2P';
    font-size: 18px;
}

.bg-text-image {
    --bg-blue: rgba(90,90,255, 0.8);
    --bg-pink: rgba(238,130,238, 0.8);
    --bg-orange: rgba(255,150,100, 0.8);
    --bg-purple: rgba(195,0,215, 0.8);
    --bg-purple-faded: rgba(195,0,215, 0);
    --bg-blue-faded: rgba(90,90,255, 0);
    --bg-pink-faded: rgba(238,130,238, 0);
    --bg-orange-faded: rgba(255,150,100, 0);
    z-index: -1;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    font-size: 16px;
    font-weight: 600;
    white-space: pre-wrap;
    text-overflow: clip;
    background: linear-gradient(1deg, var(--bg-pink), var(--bg-pink-faded) 70.71%),
                linear-gradient(91deg, var(--bg-blue), var(--bg-blue-faded) 70.71%),
                linear-gradient(181deg, var(--bg-purple), var(--bg-purple-faded) 70.71%),
                linear-gradient(271deg, var(--bg-orange), var(--bg-orange-faded) 70.71%);
    background-size: 300% 300%;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
    -webkit-background-clip: text;
    animation: moveBackground 10s ease infinite;
}

@keyframes moveBackground {
    0% {
        background-position: 25% 100%;
    }

    25% {
        background-position: 100% 100%;
    }

    50% {
        background-position: 100% 25%;
    }

    75% {
        background-position: 25% 25%;
    }

    100% {
        background-position: 25% 100%;
    }
}
