/* Box sizing rules */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 500;
  background: black;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Element-specific Styling */

header {
    display: flex;
    justify-content: space-between;
    background: black;
    color: white;
    padding: 1rem 1.5rem;
}

footer {
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, rgba(10,10,10, 0.9) 20%, black);
    color: white;
    padding: 1rem;
}

section {
    display: flex;
    gap: 1rem;
    z-index: 2;
}

ul {
    display: flex;
    gap: 1rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

/* Class-specific Styling */

.logo {
    max-height: 50px;
    max-width: 50px;

}

.hero-section {
    width: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0, 1) 50%, rgba(0,0,0, 0.5));
    color: white;
    padding: 1rem 12rem 4rem 12rem;
    justify-content: center;
}

.hero-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.hero-title {
    font-size: 2.2rem;
    font-family: 'Press Start 2P', monospace;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0.5rem;
}

.hero-subtext {
    font-size: 1.1rem;
}

.hero-image {
    width: 100%;
    max-width: 40vw;
    min-width: 400px;
    height: auto;
    border-radius: 2px;
}

.img-shadow {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px; 
  border-radius: 3px;
  box-shadow: inset 0 0 14px 14px black, inset 0 0 2px 3px black;
  background: linear-gradient(to bottom right, rgba(0,0,255, 0.9), rgba(238,130,238, 0.7));
}

.hero-cta-button {
    color: white;
    background: black;
    border: 1px solid white;
    padding: 1rem 2rem;
    border-radius: 4px;
    box-shadow: inset 0 0 5px white;
    max-width: 10rem;
    margin-top: 1rem;
}

.testimonials-section {
    background: rgba(0,0,0, 0.9);
    color: white;
    border-radius: 9px;
    flex-direction: column;
    text-align: center;
    margin: 6rem;
    padding: 1rem 0;
}

.testimonial-cards-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem 4rem;
    justify-content: center;
    flex-wrap: wrap;
}

.testimonial-card {
    background: rgba(5,0,5, 0.8);
    box-shadow: inset 0 0 5px rgba(238,130,238, 0.7);
    border-radius: 9px;
    padding: 0.5rem;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.testimonial-card > img {
    width: 100%;
    height: auto;
    min-width: 100px;
    min-height: 100px;
    border: 1px solid slateblue;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.quote-section {
    flex-direction: column;
    background: radial-gradient(rgba(10,10,10, 0.9) 50%, rgba(10,10,10, 0.1));
    color: white;
    padding: 6rem;
    gap: 0;
    box-shadow: inset 0 0 5px rgba(238,130,238, 0.7);
}

.quote {
    font-size: 1.4rem;
    font-weight: 400;
    margin-left: 2rem;
    text-transform: uppercase;

}

.quote-author {
    text-align: right;
    font-weight: 700;
    font-size: 1.2rem;
    margin-right: 6rem;
}

.cta-section {
    background: rgba(10,10,10, 0.9);
    color: white;
    justify-content: space-between;
    margin: 5rem 0 0 0;
    padding: 2.5rem 5rem;
    border-radius: 6px;
}

.bg-text-image {
    z-index: -1;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    font-size: 14px;
    font-weight: 600;
    white-space: pre-wrap;
    background-image: linear-gradient(to bottom, rgba(50,50,255, 1) 20%, rgba(238,130,238, 1)); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
